// proc to neudelas tim gridem?
.Contentcont {
  display: grid;
  grid-template:
    ".   content ." auto /
    1fr 1000px 1fr;
  background-color: #e1e1e1;
  height: 100vh;
  &--change {
    background-color: rgb(56, 51, 54);
  }
}
.Content {
  padding-top: 10px;
  background-color: white;
  grid-area: content;
  width: 1000px;
  display: grid;
  grid-template:
    "left middle right" auto /
    140px 1fr 160px;
  &--change {
    background-color: rgb(70, 63, 63);
  }
}
