.Container {
  //box-sizing: border-box;
  //display: flex;
  //justify-content: center;
  //min-width: 100vw;
  //height: 100vh;
  //background-color: #e1e1e1;
  display: grid;
  grid-template:
    ".   content ." auto /
    1fr 1000px 1fr;
  min-width: 100vw;
  height: 100vh;
  background-color: #e1e1e1;
}
