.root {
  font-family: Tahoma, Geneva CE, Lucida Sans, Arial, Helvetica, sans-serif;
  //margin: -10px; // tohle nevim, jako kdyby tam byly defaultne nastaveny margin:10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
}
body {
  padding: 0;
  margin: 0;
}
